{% extends 'flight/base.html' %}

{% load static %}

{% block head %}
    <title>About Flighteq</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_style.css' %}">
{% endblock head %}

{% block body %}
    <section class="section section1">
        <div class="container">
            <h1>About Us.</h1>
            <p>Thank you for choosing <b>Flighteq</b> for your travel needs, your trusted site for booking local and international flights with ease and confidence.</p>

            <h5 style="text-align: center; color: #006;">Our Mission</h5>
            <p>We make travel dreams a reality. We believe that travel opens doors to new experiences, broadens horizons, and creates cherished memories. Our platform is built on the foundation of connecting travelers with their desired destinations, providing a seamless and stress-free booking experience.</p>

            <h5 style="text-align: center; color: #006;">What Sets Us Apart</h5>
            <p><b>Empowering Travelers:</b> We empower you to take control of your travel plans. Our user-friendly interface is designed to put you in the pilot's seat, helping you find the best flight options that suit your preferences and budget.</p>

            <p><b>Global and Local Expertise:</b> Whether you're exploring the world or your own backyard, we cater to both local getaways and international adventures. Our platform combines a global perspective with local insights, ensuring you have the best choices at your fingertips.</p>

            <p><b>Personalized Assistance:</b> Our commitment to your journey goes beyond the screen. Our dedicated customer support team is here to assist you at every step, ensuring that your travel experience is as smooth as possible.</p>

            <h5 style="text-align: center; color: #006;">Your Travel Partner</h5>
            <p>As your travel partner, we aim to revolutionize the way you plan and book your flights. Whether you're a frequent flyer or a first-time traveler, we're here to make your journey exceptional.</p>
        </div>
    </section>
{% endblock%}